#head {
  background: #fff;
}
#head .con {
  height: 215px;
  padding-top: 55px;
  overflow: hidden;
}
#head .con .logo {
  display: block;
  text-indent: -9999em;
  width: 250px;
  height: 60px;
  background: url(../img/logo.png);
}

#content {
  background: #fff;
}
#content .con {
  height: 510px;
  padding-left: 50px;
}
#content .con .login-pic {
  width: 500px;
  height: 354px;
}
#content .con .login {
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #ececec;
  border-top: 2px solid #ff4965;
  padding: 50px 35px;
}
#content .con .login .lg-title {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
#content .con .login .lg-title span {
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
#content .con .login .lg-title a {
  font-size: 12px;
  font-weight: 400;
  color: #ff4965;
}
#content .con .login .input-group {
  margin-bottom: 15px;
}
#content .con .login .tip {
  font-size: 12px;
  font-weight: 200;
  height: 18px;
  line-height: 18px;
  position: relative;
}
#content .con .login .tip label {
  display: block;
  width: 80px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
  padding-left: 17px;
}
#content .con .login .tip label input {
  position: absolute;
  left: 0;
  top: -1px;
}
#content .con .login .tip a {
  position: absolute;
  right: 0;
  top: 0;
  color: #ff4965;
  text-decoration: none;
}
#content .con .login button {
  width: 330px;
  height: 32px;
  margin-top: 20px;
  color: #fff;
  background: #ff4965;
}
#content .con .login .ipt-quick {
  margin-top: 20px;
}
#content .con .login .ipt-quick span {
  color: #666;
  line-height: 24px;
  font-size: 12px;
}
#content .con .login .ipt-quick .ipt-con {
  display: block;
  float: left;
  width: 25px;
  height: 24px;
  background: url(../img/qq&tb&wx.png);
  margin: 0 4px;
  background-repeat: no-repeat;
}
#content .con .login .ipt-quick .ipt-qq {
  background-position: 1px 0;
}
#content .con .login .ipt-quick .ipt-qq:hover {
  background-position: -28px 0;
}
#content .con .login .ipt-quick .ipt-tb {
  background-position: -59px 0;
}
#content .con .login .ipt-quick .ipt-tb:hover {
  background-position: -89px 0;
}
#content .con .login .ipt-quick .ipt-wx {
  background-position: -119px 0;
}
#content .con .login .ipt-quick .ipt-wx:hover {
  background-position: -149px 0;
}

#footer {
  background: #555;
  border-top: 3px solid #ff5482;
}
#footer .con {
  height: 38px;
  text-align: center;
  padding: 10px 0;
}
#footer .con .footer-nav {
  height: 18px;
  color: #ddd;
  line-height: 18px;
}
#footer .con .footer-nav a {
  color: #ddd;
  margin: 0 10px;
  text-decoration: none;
}
#footer .con .footer-nav a:hover {
  color: #fff;
}

#footer-Copyright {
  background: #fff;
}
#footer-Copyright .con {
  text-align: center;
  height: 104px;
  padding-top: 20px;
  color: #999;
  font-size: 12px;
}
#footer-Copyright .two {
  margin-top: 8px;
}
#footer-Copyright .two a {
  color: #999;
  text-decoration: none;
}

/*# sourceMappingURL=login.css.map */
